body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* -----------Header Start ------------ */
/* Navication Bar  */
header {
  background-color: rgba(17, 17, 216, 0.945);
}
nav a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.5em;
  margin-right: 15px;
}
nav {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-left: 105px;
  margin-right: 124px;
  color: #ffff;
  padding-top: 42px;
}
nav .login {
  background-color: #e02c6d;
  color: #ffff;
  padding: 5px 10px 5px 15px;
}
/* Navication Bar End  */

/* banner */
section {
  height: 500px;
  padding-bottom: 150px;
}
.top-banner {
  display: flex;
}
h1 {
  font-size: 70px;
}
.anchor-button {
  text-decoration: none;
  background: #e02c6d;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
.half-width {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  color: #ffff;
}
.half-width-2 {
  margin-left: 180px;
}

header section img {
  width: 556px;
  padding-top: 40px;
}
.half-weidth-2 img:hover {
  transform: scale(1) rotate(5deg);
  transition: transform 2s ease-in;
}

/* ----------Section End -------------- */
/* -----------Header End ------------ */

/* --------Main Start ----------- */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  margin-top: 70px;
  margin-left: 150px;
  margin-right: 150px;
}
.player {
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgb(100, 94, 94);
}
article img {
  width: 300px;
  font-size: 15px;
  padding: 10px;
}
.blog-titel {
  font-size: 20px;
  padding: 5px 8px;
}
.blog-author {
  padding: 5px 8px;
  text-align: justify;
}

.last-banner {
  width: 1115px;
  margin-top: 50px;
  font-size: 20px;
}
.main-half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  color: black;
}
.main-half-width img {
  width: 600px;
  padding-top: 20px;
}
.main-half-width h1 {
  font-size: 50px;
  padding-top: 0px;
}
section img:hover {
  transform: scale(1) rotate(5deg);
  transition: transform 2s ease-in-out;
}
/* -----------Main End ------- */

/* ---------Other--------- */
.others-play {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
  margin-bottom: 70px;
}
.others-play .others {
  /* border: 1px solid black; */
  border-radius: 15px;
  margin: 0 20px;
  text-align: center;
  justify-content: center;

  /* box-shadow: 5, 5, 10 rgb(88, 88, 88); */
}

.others img {
  width: 300px;
  border-radius: 15px;
}
.others a {
  text-decoration: none;
}
.others a h1 {
  font-size: 25px;
}
.color {
  color: orange;
}

/* ----------------Other End ---------- */
/* Footer Start  */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer img {
  width: 300px;
}
footer a i {
  padding: 0 10px;
  color: #616161;
}

/* Media Queries */

/* ----------Mobile Device-------- */

@media only screen and (max-width: 688px) {
  header nav {
    flex-direction: column;
    margin: 0%;
  }
  header nav a {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(1, 1fr);
    margin-left: 20px;
    padding: 4px 0;
  }
  header nav .login {
    width: 70px;
    height: 40px;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 20px;
  }
  header section {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  header section .top-banner {
    display: grid;
  }
  header section h1 {
    font-size: 50px;
    width: 100%;
  }
  header section .anchor-button {
    width: 168px;
    height: 44px;
    font-size: 16px;
    padding: 3px 8px;
  }
  header section img {
    width: 400px;
    grid-template-columns: repeat(1, 1fr);
  }
  /* Player  */

  .players {
    margin-top: 150px;
    width: 100px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* last banner  */

  .last-banner {
    display: grid;
    grid-template-columns: none;
  }

  .last-banner img {
    width: 300px;
  }

  /* other  */
  .others-play {
    margin-top: 300px;
    display: grid;
    grid-template-columns: none;
    margin: 0%;
  }
}
